<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="0"
  >
    <mat-nav-list
      class="nav-list"
      [ngClass]="darkmode ? 'activedarkmode' : ''"
      [ngClass]="openSideBar ? 'close_sidebar' : ''"
    >
      <div>
        <a class="logo" mat-list-item (click)="fnCloseOpenSideBar()">
          <i class="material-icons">reorder</i>
          <span>Logo</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">home</i>
          <span>Dashboard</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Posts</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">supervisor_account</i>
          <span>Media</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Pages</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Comments</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Appearence</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Plugins</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Users</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Settings</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Tools</span>
        </a>
      </div>

      <div class="itens-bottom">
        <div class="mode">
          <div>
            <i class="material-icons">brightness_2</i>
            <span>{{ this.lightDarkMode }} Mode</span>
          </div>
          <input type="checkbox" id="chk" (click)="fnDarkMode()" />
          <label for="chk" class="switch">
            <span class="slider"></span>
          </label>
        </div>
        <div class="logout">
          <div>
            <i class="material-icons">meeting_room</i>
            <span>Logout</span>
          </div>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
