<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="0"
  >
    <mat-nav-list class="nav-list">
      <div>
        <a mat-list-item>
          <i class="material-icons">home</i>
          <span>Dashboard</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Posts</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Media</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Pages</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Comments</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Appearence</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Plugins</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Users</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Settings</span>
        </a>
        <a mat-list-item>
          <i class="material-icons">storefront</i>
          <span>Tools</span>
        </a>
      </div>

      <div class="itens-bottom">
        <div class="mode">
          <div>
            <i class="material-icons">storefront</i>
            <span>Light Mode</span>
          </div>
          <input type="radio" />
        </div>
        <div class="logout">
          <div>
            <i class="material-icons">storefront</i>
            <span>Logout</span>
          </div>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
