.form-switch-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.grup-input-box {
    width: 300px;
    border: 1px solid red;
}